<h4>Thanks, {{model.name}}. Help is on the way.</h4>
<p>
  Leave this page open while you continue working on the problem.
</p>
<button class="btn" {{action 'delete' model}}>Nevermind, we got it.</button>
